@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CoffeeShop.Models.MenuViewModels.MenuViewModel
@{
        ViewData["Title"] = "Index";

}

    <table class="table" style="color:aliceblue">
        <thead>
            <tr>
                <th>
                    CategoryID
                </th>
                <th>
                    CategoryName
                </th>               
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.categories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>                    
                </tr>
            }
        </tbody>
    </table>
    <table class="table" style="color:aliceblue">
        <thead>
            <tr>
                <th>
                    ProductID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Des
                </th>
                <th>
                    Size
                </th>
                <th>
                    CategoryID
                </th>
                <th>
                    ImgPath
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.products)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgPath)
                </td>                
            </tr>
            }
        </tbody>
    </table>